<ion-header>
  <ion-toolbar>
    <ion-title>Mes favoris</ion-title>
    <div class="jsoncsvtoggle">
      <ion-label>JSON / CSV</ion-label>
      <ion-toggle [(ngModel)]="toCSV" disable="true" class="toggle"></ion-toggle>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="exportJson()">Export</ion-button>
  <ion-button (click)="importJson()">Import</ion-button>

  <div *ngFor="let item of favorites">
    <ion-card>
      <ion-card-header>
          <div class="fav-title">{{item.Title}}</div>
          <ion-badge class="type">{{item.Type}}</ion-badge>
          <ion-button class="delete" (click)="GoToFilm(item.imdbID)"><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
          <ion-button class="delete" (click)="Delete(item)"><ion-icon name="close"></ion-icon></ion-button>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
