.movie-card{
    position: relative
}

.overlay{
    position: absolute;
    bottom: 0;
}

.title{
    color: white;
}

.poster{
    filter: brightness(50%);
    min-height: 400px;
    background: black;
    vertical-align: middle;
}
.favorite{
    width: 74px;
    margin-left: 10px;
    margin-top: 18px;
}

ion-card{
    margin-top: -4px;
}

@media (min-width: 757px){
    .movie-card{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}